<div class="modal fade" id="confirmModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="text-center">Are you sure?</h4>
                <div class="more-info"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-danger pull-left" data-dismiss="modal">No</button>
                <a class="btn btn-outline-success btn-ok">Yes</a>
            </div>
        </div>
    </div>
</div>