<th:block th:fragment="login" xmlns:th="http://www.w3.org/1999/xhtml">
    <form th:action="@{/login}" th:method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" />
        </div>
        <!--TODO:REMEMBER ME-->
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</th:block>