<form class="form-authentication" onsubmit="return isFormValidated()" th:action="@{/register}" th:method="POST">
    <div class="form-group">
        <label for="register-username">Username:</label>
        <input
                type="text" name="username" class="valid-input form-control" id="register-username" />
        <span class="error-span small text-danger"></span>
        <small class="form-text text-muted">Username must be no longer than 10 symbols</small>
    </div>
    <div class="form-group">
        <label for="register-email">Email:</label>
        <input type="text" name="email" class="valid-input form-control" id="register-email"/>
        <span class="error-span small text-danger"></span>
        <small class="form-text text-muted">Example myEmail@gmail.com</small>
    </div>

    <div class="form-group">
        <label for="register-password">Password:</label>
        <input type="password" name="password" class="valid-input form-control" id="register-password"/>
        <span class="error-span small text-danger"></span>
        <small class="form-text text-muted">Password must be atleast 6 symbols</small>
    </div>
    <div class="form-group">
        <label for="register-confirm-password">Confirm Password:</label>
        <input id="register-confirm-password" type="password" name="confirmPassword" class="valid-input form-control" />
        <span class="error-span small text-danger"></span>
    </div>
    <input type="text" name="success-message-identifier" hidden value="register">
    <div id="register-submit" class="text-center">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>