<nav class="navbar navbar-expand-sm navbar-light">
    <button class="navbar-toggler mt-4" type="button"
            data-toggle="collapse"
            data-target="#sales-navigation"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sales-navigation">
        <ul class="navbar-nav d-inline-flex p-2 justify-content-between">
            <li class="nav-item p-3" sec:authority="(hasAuthority('USER'))"><a class="nav-link" href="/sales/sell">
                List an item</a></li>
            <li class="nav-item p-3"><a class="nav-link" href="/sales">
                All sales</a></li>
            <li class="nav-item p-3"><a class="nav-link" href="#" id="search">
                Search</a></li>
            <li class="nav-item p-3" sec:authority="(hasAuthority('MODERATOR'))"><a class="nav-link" href="#"
                                                                                    id="add-category-btn">
                Add category</a></li>

        </ul>
    </div>
</nav>
