<!--<div class="user-navbar">-->
    <!--<ul>-->
        <!--<li class="user-nav-item"><a href="#">Votes</a></li>-->
        <!--<li class="user-nav-item"><a href="#">Items for sale</a></li>-->
        <!--<li class="user-nav-item"><a href="#">Items sold</a></li>-->
        <!--<li class="user-nav-item"><a href="#">Items bought</a></li>-->
        <!--<li class="user-nav-item"><a href="#">Reviews written</a></li>-->
    <!--</ul>-->
<!--</div>-->
<div class="user-navbar-container mt-3 px-1">
    <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler mr-auto ml-2" type="button"
                data-toggle="collapse"
                data-target="#user-nav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="user-nav">
            <ul class="navbar-nav d-inline-flex flex-wrap p-2">
                <li class="nav-item p-3">
                    <a class="nav-link" href="/">Votes</a>
                </li>

                <li class="nav-item p-3">
                    <a class="nav-link" href="#">Items for sale</a>
                </li>

                <li class="nav-item p-3">
                    <a class="nav-link" href="#">Items sold</a>
                </li>

                <li class="nav-item p-3">
                    <a class="nav-link" href="#">Items bought</a>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="#">Reviews written</a>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="#">Send friend request</a>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="#">Send message</a>
                </li>

            </ul>
        </div>
    </nav>
</div>