<div class="user-info">
    <h3 th:text="${user.getUsername()}"></h3>
    <div class="section-container">
        <section id="img-section">
            <img class="user-img-lg" th:src="@{|${user.getProfilePictureUrl()}|}"
            alt="profile-pic"/>
            <div class="pic-hover">
                <form method="post" th:action="@{|/users/edit/userId=${user.getId()}|}">
                    <button onclick="$('#edit-profile-pic').trigger('click'); return true;" class="btn-primary">Change</button>
                <input id="edit-profile-pic" type="file" name="profile-pic" hidden>
                </form>
            </div>
        </section>
        <section id="info-section">
            <span class="section-field">First Name:<span class="db-loaded-info" th:text="${user.getFirstName()}"></span></span>
            <span class="section-field px-1">Surname: <span class="db-loaded-info" th:text="${user.getSurName()}"></span></span>
            <span class="section-field px-1">Last name: <span class="db-loaded-info" th:text="${user.getLastName()}"></span></span>
            <span class="section-field px-1">Age: <span class="db-loaded-info" th:text="${user.getAge()}"></span></span>
            <span class="section-field px-1">Phone Number: <span class="db-loaded-info" th:text="${user.getPhoneNumber()}"></span></span>
            <span class="section-field px-1">City: <span class="db-loaded-info" th:text="${user.getCity()}"></span></span>
            <span class="section-field px-1">Country: <span class="db-loaded-info" th:text="${user.getCountry()}"></span></span>
        </section>
    </div>
</div>