@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
    src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}
body{
    background: linear-gradient(to right , #11998e, #38ef7d);
}

a{
    text-decoration: none;
}
.main-container{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    min-width:95%;
    max-width: 98%;
    margin:auto;
    padding:15px;
    border-radius:20px;
    border:2px solid #CCC;
    box-shadow:5px 5px 4px green;
    background-color:white;
    color: #141823;
    font-size:1.4rem;
    margin-bottom:15px;
}
.main-container a{
    color:rgba(20,24,35,1);
}

/*Search style*/
.search-section{
    display:flex;
}
.search-section > input{
    border-radius:10px;
}

.bs-searchbox::after{
    content:"\f002";
    font-family: FontAwesome;
    position:absolute;
    left:15px;
    top:19px;
}
.bs-searchbox > input{
    padding-left:25px;
}

