.user-info{
    display:flex;
    flex-direction: column;
}
.user-info h3{
    text-align:center;
    background-color: rgba(0, 128, 128, 0.8);
    border-radius:15px;
    opacity:0.8;
}
.section-container{
    display: flex;
    flex-direction: row;
    margin-top:10px;
}
#img-section{
    width:150px;
    position: relative;

}
/*HOVER EFFECT*/
.user-img-lg{
    width:150px;
    height:150px;
    border-radius:50%;
    border:1px solid teal;

    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
#toggle-user-pic-btn:hover{
    cursor:pointer;
}
.pic-hover{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
#img-section:hover .user-img-lg{
    opacity: 0.3;
}

#img-section:hover .pic-hover {
    opacity: 1;
}
#toggle-user-pic-btn{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity:0;
}
/*END HOVER*/
#info-section{
    padding:20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.section-field:not(.db-loaded-info){
    color:teal;
    font-weight:bold;
    text-decoration: underline teal;
}
.section-field .db-loaded-info {
    font-style:italic;
    font-weight: normal;
    color:black;
}
.user-navbar-container{
    border:4px solid teal;
    border-radius:20px;
}
.user-navbar-container li{
    padding-right: 10px;
}
.user-navbar-container a:hover{
    background-color:#CCC;
    border-radius:10px;
}

/*edit user style*/
#upload-user-profile-pic-dropzone{
    width:50%;
    margin:auto;
}


/*user info style*/
.users-info-render-container{
    margin-top:10px;
}