<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>

<body>
<th:block th:replace="fragments/navs/nav
"></th:block>
<div class="main-container">
    <th:block th:replace="fragments/modals/authentication-modals:: modal-register"></th:block>
    <h5 class="login-header">
        Login
    </h5>
    <th:block th:replace="fragments/login-form"></th:block>
</div>

</body>
</html>