<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>

<body>
<th:block th:replace="fragments/nav"></th:block>
<div class="main-container">
    <div class="sales-container">
        <div class="sales-nav">
            <th:block th:replace="fragments/sales-nav"></th:block>
        </div>
        <div class="add-category-container" style="display:none">
            <th:block th:replace="fragments/add-category"></th:block>
        </div>
        <div class="products-container">
            <!--/*@thymesVar id="products" type="justme.projectAwesome.entities.Product[]"*/-->
            <!--/*@thymesVar id="product" type="justme.projectAwesome.entities.Product"*/-->
            <th:block th:each="product : ${products}">
                <a th:href="@{|/sales/product/id=${product.getId()}|}" th:text="${product.getTitle()}"></a>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>