<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="categories" type="justme.projectAwesome.entities.Category[]"*/-->
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>

<body>
<th:block th:replace="fragments/nav"></th:block>
<div class="main-container">
    <div class="sales-container">
        <section class="sales-nav">
            <th:block th:replace="fragments/sales-nav"></th:block>
        </section>
        <div class="sales-render-section">
            <form id="my-awesome-dropzone" class="dropzone sell-product-form" th:action="@{/sales/enlist-product}" th:method="POST"
                  enctype="multipart/form-data">
                <div class="dropzone-previews"></div>
                <section class="input-section">
                    <div class="text-center">
                    <h5 class="section-title"><strong>Insert product info</strong></h5>
                    </div>
                    <div class="form-group">
                        <label for="sell-item-title">Item Title:</label>
                        <input id="sell-item-title" class="form-control" type="text" th:name="title"
                               placeholder="Title" required>
                    </div>
                    <div class="form-group">
                        <label for="sell-item-price">Item Price:</label>
                        <input id="sell-item-price" class="form-control" type="number" step="any" th:name="price"
                               placeholder="Price" required>
                    </div>
                    <div class="form-group">
                        <label for="sell-item-description">Item Description:</label>
                        <textarea id="sell-item-description" class="form-control" rows="5" th:name="description"
                                  placeholder="Description"></textarea>
                    </div>

                    <div class="form-select-button select-categories">
                        <select data-placeholder="Select categories" id="select-category" th:name="category"
                                class="selectpicker" data-live-search="true" multiple onchange="addCategory()">
                            <optgroup label="">
                                <option value="" selected disabled>Select categories</option>
                            </optgroup>
                            <th:block th:each="category : ${categories}">
                                <option th:name="category"
                                        th:value="${category.getCategoryName()}"
                                        th:text="${category.getCategoryName()}">
                                </option>
                            </th:block>
                        </select>
                        <div>Selected categories: </div>
                        <div id="selected-categories"></div>
                    </div>
                </section>
                <input id="submit-product-btn" class="btn btn-primary" type="submit" th:value="Submit">
            </form>
        </div>
    </div>

</div>
</body>
</html>