<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="product" type="justme.projectAwesome.entities.Product"*/-->
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>

<body>
<th:block th:replace="fragments/nav"></th:block>
<th:block th:replace="fragments/confirmation-modal"></th:block>
<th:block th:replace="fragments/comment-form-modal(product)"></th:block>
<div class="main-container">
    <div class="container">
        <div th:if=
                     "${#authentication.getPrincipal().getId() == product.getOwner().getId()
                     || #authentication.getPrincipal().isAdmin()}"
             class="float-right">
            <button class="btn btn-warning">Edit</button>
            <button class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#confirm-modal"
                    data-message="The product and all of its comments will be deleted permanently"
                    th:data-href="@{|/sales/product/delete/id=${product.getId()}|}">Delete
            </button>
        </div>
        <div class="single-product-container">
            <h2 class="text-center text-capitalize" th:text="${product.getTitle()}"></h2>
            <h3 class="small text-center">
                <span th:text="'Posted by: '"></span>
                <span><a th:href="@{|/users/userid=${product.getOwner().getId()}|}"
                         th:text="${product.getOwner().getUsername()}">${product.getOwner().getUsername()}</a>
                    </span>
                <span class="ml-2"
                      th:text="'Uploaded on: ' + ${#dates.format(product.getUploadedOn(), 'dd-MMM-yyyy  HH:mm')}"></span>
            </h3>
            <div class="product-description">
                <section class="image-section">
                    <img class="thumb-image" th:src="@{${product.getImgsUrl()[0]}}" alt="img">
                    <button class="btn btn-primary">Show All</button>
                    <!--<div class="preview-images" th:each="imageUrl : ${product.getImgsUrl()}">-->
                        <!--<img class="thumb-image" th:src="@{${imageUrl}}" alt="img">-->
                    <!--</div>-->
                </section>
                <section class="description-section">
                    <p th:text="${product.getDescription()}"></p>
                    <p class="small" th:text="'Price: ' + ${product.getPrice()} + '$'"></p>
                </section>
                <section class="category-section">
                    <b>Categories:</b>
                    <ul class="list-group" th:each="category : ${product.getCategories()}">
                        <li class="list-group-item" th:text="${category.getCategoryName()}"></li>
                    </ul>
                </section>
            </div>

        </div>
        <button class="btn btn-outline-success mt-4" data-target="#modal-comment-box" data-toggle="modal">Add a comment
        </button>
        <section th:each="comment : ${product.getComments()} " class="comments-section">
            <th:block th:replace="fragments/comments-section(comment)"></th:block>
        </section>
    </div>
</div>
</body>
</html>